table {

  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;

  thead {
    border: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;

    tr {
      height: 32px;
      color: #999999;
    }
  }

  tbody {
    overflow: auto;

    tr {
      height: 70px;
      background: #fff;
      color: #999999;

      td {
        padding: .25em .5em;
      }
    }
  }


  tr {
    border: 1px solid #d9d9d9;
    color: #333;
    border-left: none;
    border-right: none;
  }

  tr > th, tr > th {
    padding: .25em .5em;
  }
}

.open {
  opacity: 0.5;
}

.hovered {
  background-color: #ebebeb !important;
  text-indent: -9999px;
  border: none !important;
}

.draggable-row-icon {
  display: none;
  width: 4px;
  height: 4px;
  border-radius:2px;
  background-color: #cccccc;
  margin: 4px 0 4px 7px;
}

.draggable-row-icon-placeholder {
  width: 15px;
}

.draggable-row:hover .draggable-row-icon {
  display: block;
}

.onDragMode .draggable-row:hover .draggable-row-icon {
  display: none;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
