<table [ngClass]="{ 'onDragMode' : !dragModeOff }">
  <thead>
  <tr>
    <th class="draggable-row-icon-placeholder"></th>
    <th *ngIf="selectable" class="draggable-row-check-box"><p-checkbox (onChange)="selectAll($event)"></p-checkbox></th>
    <td *ngIf="showIndex" class="draggable-row-index"></td>
    <th *ngFor="let col of columns" [ngStyle]="col.style">{{col.header}}</th>
  </tr>
  </thead>
  <tbody #tableBody>
  <tr *ngFor="let row of draggableItems;index as i;"
      [class]="row.class"
      [ngClass]="{ 'draggable-row' : true }"
      (mousedown)="onMouseDown($event, i)"
      (mouseover)="onMouseOver($event, i)"
      (mouseup)="onMouseUp()">

    <td class="draggable-row-icon-placeholder">
      <span class="draggable-row-icon"></span>
      <span class="draggable-row-icon"></span>
      <span class="draggable-row-icon"></span>
      <span class="draggable-row-icon"></span>
    </td>

    <td *ngIf="selectable" class="draggable-row-check-box" (mouseover)="onMouseDownOnCheckbox()">
      <p-checkbox [value]="i" [(ngModel)]="selectedValues" (onChange)="emitOnItemsSelected()"></p-checkbox>
    </td>
    <td *ngIf="showIndex" class="draggable-row-index"><span>{{i + 1}}</span></td>

    <td *ngFor="let col of columns" [ngStyle]="col.style">
      <ng-container *ngTemplateOutlet="col.template; context: { $implicit: col, rowData: row }"></ng-container>
    </td>
  </tr>
  </tbody>
</table>

<p-paginator *ngIf="paginator"
        [rows]="rows"
        [totalRecords]="value? value.length : 0"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (onPageChange)="paginate($event)">
</p-paginator>


<div #draggable [hidden]="dragModeOff"
     (mouseup)="onMouseUp()"
     (mousemove)="onMouseMove($event)">
  <ng-container *ngTemplateOutlet="draggableViewTemplate; context: {currentDraggableItem: currentDraggableItem}">
  </ng-container>
</div>
