@import '_variables.scss';

@font-face {
  font-family: 'kmcng-icon-pack';
  src:
          url('#{$mc-theme-font-path}/kmcng-icon-pack.woff2?qbt9b0') format('woff2'),
          url('#{$mc-theme-font-path}/kmcng-icon-pack.ttf?qbt9b0') format('truetype'),
          url('#{$mc-theme-font-path}/kmcng-icon-pack.woff?qbt9b0') format('woff'),
          url('#{$mc-theme-font-path}/kmcng-icon-pack.svg?qbt9b0#kmcng-icon-pack') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="kIcon"], [class*=" kIcon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kmcng-icon-pack' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kIconkaltura_logo:before {
  content: "\e95f";
}
.kIconbulk:before {
  content: "\e92d";
}
.kIconUsers:before {
  content: "\e92e";
}
.kIconlive:before {
  content: "\e958";
}
.kIconUpload:before {
  content: "\e959";
}
.kIconplayback-file:before {
  content: "\e955";
}
.kIconEdit:before {
  content: "\e956";
}
.kIconShare:before {
  content: "\e94f";
}
.kIconlife_donut:before {
  content: "\1f325";
}
.kIcontag:before {
  content: "\e902";
}
.kIconduplicate:before {
  content: "\e905";
}
.kIconlink:before {
  content: "\e934";
}
.kIconunlink:before {
  content: "\e935";
}
.kIconremove:before {
  content: "\e936";
}
.kIconmore:before {
  content: "\e916";
}
.kIconcheck-medium:before {
  content: "\e938";
}
.kIconautocomplete:before {
  content: "\e939";
}
.kIconhouse:before {
  content: "\e924";
}
.kIconuser_small:before {
  content: "\e925";
}
.kIconconfirmation:before {
  content: "\e918";
}
.kIconwarning:before {
  content: "\e91a";
}
.kIconarrow_up:before {
  content: "\e933";
}
.kIcongear:before {
  content: "\e904";
}
.kIconreorder:before {
  content: "\e903";
}
.kIconexternal_link:before {
  content: "\e913";
}
.kIconfilter:before {
  content: "\e90f";
}
.kIconarrow_backward:before {
  content: "\e90c";
}
.kIconarrow_forward:before {
  content: "\e90d";
}
.kIconmagnifier:before {
  content: "\e911";
}
.kIconplus:before {
  content: "\e937";
}
.kIconcalendar:before {
  content: "\e923";
}
.kIconCopy-to-clipboard:before {
  content: "\e90b";
}
.kIconupload:before {
  content: "\e914";
}
.kIcontrash:before {
  content: "\e917";
}
.kIconReport:before {
  content: "\e906";
}
.kIconUnknown:before {
  content: "\e927";
}
.kIconLive:before {
  content: "\e928";
}
.kIconfolder_large:before {
  content: "\e907";
}
.kIconsound:before {
  content: "\e909";
}
.kIconhelp:before {
  content: "\e908";
}
.kIconimage:before {
  content: "\e90a";
}
.kIconplay:before {
  content: "\e926";
}
.kIconrefresh:before {
  content: "\e90e";
}
.kIconuser:before {
  content: "\e910";
}
.kIconvideo:before {
  content: "\e930";
}
.kIconfeed:before {
  content: "\e954";
}
.kIconfolder:before {
  content: "\e93e";
}
.kIconPlaylist_Manual:before {
  content: "\e932";
}
.kIconPlaylist_RuleBased:before {
  content: "\e931";
}
.kIconzoom:before {
  content: "\e95a";
}
.kIconList:before {
  content: "\e957";
}
.kIcondatabase_search:before {
  content: "\e953";
}
.kIconcollection:before {
  content: "\e951";
}
.kIconvod:before {
  content: "\e952";
}
.kIconepisodes:before {
  content: "\e944";
}
.kIconmovies:before {
  content: "\e945";
}
.kIconseries:before {
  content: "\e946";
}
.kIconmetadata-templates:before {
  content: "\e947";
}
.kIconcheckbox:before {
  content: "\e948";
}
.kIcondate-and-time:before {
  content: "\e949";
}
.kIcondropdown:before {
  content: "\e94a";
}
.kIconinput-field-numeric:before {
  content: "\e94b";
}
.kIconinput-field:before {
  content: "\e94c";
}
.kIconswitch:before {
  content: "\e94d";
}
.kIconlive_transcoding:before {
  content: "\e900";
}
.kIconfile-small:before {
  content: "\e93a";
}
.kIconimage-small:before {
  content: "\e93b";
}
.kIconsound-small:before {
  content: "\e93c";
}
.kIconvideo-small:before {
  content: "\e93d";
}
.kIconhelp_full:before {
  content: "\e92f";
}
.kIconcheck_large:before {
  content: "\e912";
}
.kIconpen:before {
  content: "\e915";
}
.kIcontree-arrow-right:before {
  content: "\e919";
}
.kIcontree-arrow-down:before {
  content: "\e91b";
}
.kIcontranscoding:before {
  content: "\e901";
}
.kIconinactive:before {
  content: "\e95b";
}
.kIconscheduled:before {
  content: "\e95c";
}
.kIconcomplete:before {
  content: "\e93f";
}
.kIconerror:before {
  content: "\e940";
}
.kIconsync:before {
  content: "\e941";
}
.kIconupload2:before {
  content: "\e942";
}
.kIconpartial_small:before {
  content: "\e922";
}
.kIconpagination_end:before {
  content: "\e91f";
}
.kIconpagination_start:before {
  content: "\e920";
}
.kIconcheck_small:before {
  content: "\e91c";
}
.kIconclose_small:before {
  content: "\e91d";
}
.kIcondropdown_arrow_bottom:before {
  content: "\e91e";
}
.kIcondropdown_arrow_right:before {
  content: "\e921";
}
.kIcondropdown_arrow_left:before {
  content: "\e929";
}
.kIcondropdown_arrow_top:before {
  content: "\e92a";
}
.kIconsettings-upgrade-1:before {
  content: "\e92b";
}
.kIconsettings-upgrade-2:before {
  content: "\e92c";
}
.kIconrefresh_small:before {
  content: "\e943";
}
.kIconepisode-small:before {
  content: "\e94e";
}
.kIconmovies-small:before {
  content: "\e95d";
}
.kIconseries-small:before {
  content: "\e95e";
}
