@import "../../fonts/style.scss";

$fontFamily: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontSize: 1em;
$borderRadius: 3px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #d9d9d9;
$headerBgColor: #ffffff;
$headerTextColor: #ffffff;
$headerFontWeight: bold;
$headerIconTextColor: #ffffff;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #d9d9d9;
$contentBgColor: #ffffff;
$contentTextColor: #333333;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #d9d9d9;
$stateDefaultBgColor: #ffffff;
$stateDefaultTextColor: #1c94c4;

//Active State
$stateActiveBorderColor: #d9d9d9;
$stateActiveBgColor: #ffffff;
$stateActiveTextColor: #999999;

//Highlight State
$stateHighlightBorderColor: #d9d9d9;
$stateHighlightBgColor: #ffffff;
$stateHighlightTextColor: #363636;

//Focus State
$stateFocusBorderColor: #d9d9d9;
$stateFocusBgColor: #ffffff;
$stateFocusTextColor: #999999;

//Error State
$stateErrorBorderColor: #cd0a0a;
$stateErrorBgColor: #b81900;
$stateErrorTextColor: #ffffff;

//Hover State
$stateHoverBorderColor: #d9d9d9;
$stateHoverBgColor: #ffffff;
$stateHoverTextColor: $kGrayscale1;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #333333;
$invalidInputBorderColor: #cd0a0a;
$inputGroupTextColor: #222222;

@import './default-theme';

/* input */
.p-inputtext, .p-inputtext:enabled{
  background-color: white;
  border: 1px solid $kGrayscale4;
  height: 34px;
  padding: .25em;
  outline: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  color: $kGrayscale3;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  &:focus{
    background-color: white;
    border: 1px solid $kGrayscale3;
    color: $kGrayscale1;
  }
}
.p-inputtext:disabled{
  background-color: $kGrayscale6;
  border: 1px solid $kGrayscale4;
  color: $kGrayscale3;
  opacity: 0.35;
}
.p-inputtext.ui-state-focus, .p-inputtext:focus{
  box-shadow: none;
}
textarea.p-inputtext {
  resize: none;
}

.p-inputtext::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $kGrayscale4;
}
.p-inputtext::-moz-placeholder { /* Firefox 19+ */
  color: $kGrayscale4;
}
.p-inputtext:-ms-input-placeholder { /* IE 10+ */
  color: $kGrayscale4;
}
.p-inputtext:-moz-placeholder { /* Firefox 18- */
  color: $kGrayscale4;
}

/* checkboxes */
.p-checkbox, .p-datatable .ui-selection-column .p-checkbox{
  width: 16px;
  height: 16px;
  border: 1px solid $kGrayscale4;
  border-radius: 3px;
  font-size: 10px;
  .p-highlight {
    background-color: $kPrimary;
    border: 1px solid $kPrimary;
    color: #ffffff;
  }
  .p-checkbox-icon{
    margin-left: 0px;
    margin-top: 0px;
    line-height: 14px;
  }
}
.p-checkbox-label {
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  color: $kGrayscale2;
  margin-left: 10px;
}
.p-checkbox{
  margin-right: 6px;
  width: 18px;
  height: 18px;
  .p-checkbox-box {
    width: 100%;
    height: 100%;
    &.p-disabled {
      opacity: 0.35;
    }
  }
}
.p-checkbox:hover{
  border: 1px solid $kGrayscale4;
}
/* radio buttons */
.p-radiobutton-box{
  width: 1.125em;
  height: 1.125em;
  line-height: 1.125em;
  border-radius: 100%;
  text-align: center;
  position: relative;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  color: #1c94c4;
}
.p-radiobutton-checked .p-radiobutton-box.p-highlight{
  background-color: #ffffff;
  border: 6px solid $kPrimary;
  color: #ffffff;
}
.p-radiobutton{
  margin-right: 6px;
}

/* data table */
p-table {
  .p-datatable-tbody > tr > td {
    height: 70px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
  }
  .p-datatable-tbody > tr:not(.kEmptymessageBorder):hover{
    background-color: $kGrayscale7;
  }
  .p-datatable-scrollable-header {
    background: transparent;
    height: 32px;
    border: 1px solid #d9d9d9;
    color: white;
    font-weight: 700;
    border-left: none;
    border-right: none;
    tr {
      height: 32px;
    }
  }
  .p-datatable-thead > tr > th {
    border-left: none;
    border-right: none;
    font-weight: bold;
    text-align: left;
    border: none;
    padding-left: 8px;
    padding-right: 4px;
    box-sizing: border-box;
    background: transparent;
    color: $kGrayscale3;
    font-size: 13px;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .p-datatable-scrollable-header-box {
    padding-right: 0px !important;
  }
  .p-datatable-scrollable-header-box.stickyHeader {
    z-index: 10;
    display: table;
    background-color: white;
    border-bottom: 1px solid $kGrayscale5;
  }
  .p-datatable-thead > tr > th.ui-state-highlight {
    color: $kGrayscale1;
    p-sorticon{
      display: inline;
    }
  }
  .p-datatable-thead > tr > th.ui-sortable-column {
    cursor: pointer;
  }

  .p-datatable-sort-icon {
    vertical-align: initial;
  }

  .p-datatable-tbody > tr > td {
    font-size: 15px;
    font-weight: 400;
    color: $kGrayscale3;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-right: 4px;
    box-sizing: border-box;
  }
  p-sorticon{
    display: none;
    a{
      text-decoration: none !important;
    }
    i{
      font-size: 10px;
      margin-left: 8px;
      visibility: visible;
    }
  }
  .p-datatable-data > tr > td {
    border: 0px solid #ffffff;
    overflow: hidden;
  }
  .p-datatable-scrollable-body {
    max-height: none !important;
    overflow-y: hidden !important;
  }
  .p-datatable-scrollable-body>table>.p-datatable-tbody>tr:first-child>td{
    border-top: 1px solid white;
  }
  .p-datatable-scrollable-footer {
    border: none !important;
  }
  .emptymessage{
    text-align: center;
    line-height: 200px;
    font-size: 28px;
    color: $kGrayscale3;
  }

  .p-datatable-data tr.uploadFailure {
    background: lighten($kDandger, 45%);
  }

  .p-datatable-data tr.uploading {
    background: repeating-linear-gradient(
                    -75deg,
                    #ffffff,
                    #ffffff 15px,
                    $kGrayscale7 15px,
                    $kGrayscale7 30px
    );
    background-attachment: fixed;

    -webkit-animation: progress 2s linear infinite;
    -moz-animation: progress 2s linear infinite;
    -ms-animation: progress 2s linear infinite;
    animation: progress 2s linear infinite;
  }

  .p-datatable-tbody tr.uploadFailure {
    background: lighten($kDandger, 45%);
  }

  .p-datatable-tbody tr.uploading {
    background: repeating-linear-gradient(
        -75deg,
        #ffffff,
        #ffffff 15px,
        $kGrayscale7 15px,
        $kGrayscale7 30px
    );
    background-attachment: fixed;

    -webkit-animation: progress 2s linear infinite;
    -moz-animation: progress 2s linear infinite;
    -ms-animation: progress 2s linear infinite;
    animation: progress 2s linear infinite;
  }

  .p-datatable-tbody .pi-chevron-circle-right {
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid $kGrayscale4;
    border-bottom: 8px solid transparent;
  }

  .p-datatable-tbody .pi-chevron-circle-down {
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid $kGrayscale4;
    margin-left: -3px;
  }
}

@-webkit-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -60px 0px;
  }
}
@-moz-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -60px 0px;
  }
}
@-ms-keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -60px 0px;
  }
}
@keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -60px 0px;
  }
}

/* buttons */
.p-button{
  font-weight: 700;
  border-radius: 3px;
  height: 34px;
  font-size: 14px;
  outline: none;
  padding-left: 8px;
  padding-right: 8px;
  &:disabled {
    opacity: 0.35;
  }
  .p-button-icon.p-button-icon-left{
    margin-left: 4px;
    margin-right: 8px;
  }
  .p-button-icon-right{
    margin-left: 4px;
  }
  &.p-button-icon-only{
    .p-button-icon{
      margin-left: 0px !important;
    }
    .p-button-label {
      padding-right: 0px;
    }
  }

}
.p-button.kButtonBranded {
  border: none;
  color: #ffffff;
  background: $kPrimary;
  &:hover {
    background: darken($kPrimary, 10%);
  }
  &:active {
    box-shadow: 0 0 0 3px rgba(0,167,132,0.4);
  }
  &:disabled {
    opacity: 1;
    color: $kGrayscale4;
    background: transparent;
    border: 1px solid $kGrayscale4;
    cursor: default;
    box-shadow: none;
  }
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.kButtonDefault, .p-button.kButtonDefault {
  color: $kGrayscale1;
  background: #ffffff;
  border: 1px solid $kGrayscale4;
  &:hover{
    border: 1px solid $kPrimary;
  }
  &:active:not(:disabled){
    box-shadow: 0 0 0 3px rgba(0,167,132,0.4);
  }
  &:disabled{
    color: $kGrayscale4;
    background: transparent;
    border: 1px solid $kGrayscale4;
    cursor: default;
  }
}
.p-button.kButtonDanger {
  color: #ffffff;
  background: $kDandger;
  border: 0px solid $kDandger;
  &:hover{
    background: darken($kDandger, 10%);
    border: 0px solid darken($kDandger, 10%);
  }
  &:active:not(:disabled){
    box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.50);
  }
  &:disabled{
    @extend .disabled;
  }
}

/* menu */
.p-tieredmenu, .p-menu-list, .p-menu {
  padding: 4px;
  padding-left: 0px;
  padding-right: 0px;
  width: 200px;
  &.p-tieredmenu-overlay{
    border: 1px solid #d9d9d9;
    background-color: #fff;
    color: #333;
  }
  .p-submenu-list{
    border: 1px solid #d9d9d9;
    background-color: #fff;
    color: #333;
  }
  .p-menuitem-link{
    min-height: 32px;
    line-height: 1.5em;
    color: $kGrayscale1;
    padding: .25em;
    padding-left: 12px;
    .p-menuitem-text {
      line-height: 1.5em;
    }
  }
  .p-menuitem .p-menuitem-link:hover{
    border-radius: 0px;
    background-color: $kGrayscale6;
  }
  .p-menuitem.kDanger .p-menuitem-text{
    color: $kDandger;
  }
}
body .p-tieredmenu {
  width: 250px;
  .p-submenu-icon {
    font-size: 10px;
    right: 3px;
  }
}
.p-menu-overlay {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  color: #333;
  border-radius: 3px;
  padding-left: 0;
  padding-right: 0;
}
.p-menu .p-menuitem-text {
  vertical-align: middle;
}
.ui-submenu{
  .ui-submenu-list{
    padding: 0px;
  }
}
/* paginator */
.p-paginator{
  padding-top: 5px;
  p-dropdown{
    position: absolute;
    right: 24px;
    .p-dropdown{
      min-width: 48px;
      border: none;
      &:hover {
        background-color: white !important;
      }
    }
    .p-dropdown-panel {
      width: 60px;
    }
    .p-dropdown-label{
      border: none;
      color: $kGrayscale1;
      font-size: 14px;
      width: 32px;
      box-shadow: none !important;
      height: 28px;
      line-height: 24px;
    }
    .p-dropdown-trigger {
      height: 24px;
      &:hover {
        background-color: white;
      }
    }
  }
}
.p-paginator-header.ui-unselectable-text{
  background: transparent;
  border: none;
}
.p-paginator-element{
  color: $kGrayscale2;
  font-weight: 400;
  outline: none;
}
.p-paginator-page.p-paginator-element{
  border-radius: 0px;
}
.p-paginator .p-paginator-pages, .p-paginator .p-paginator-page, .p-paginator .p-paginator-next, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-first, .p-paginator .p-paginator-last{
  color: $kGrayscale2;
  font-weight: 400;
  margin-left: 0px;
  margin-right: 0px;
}
.p-paginator .p-paginator-pages {
  padding-left: 0px;
  padding-right: 0px;
}

.p-paginator .p-paginator-rpp-options {
  float: right;
  margin-top: 4px;
  color: $kGrayscale2;
  font-weight: 400;
  margin-right: 0px;
}
.p-paginator-rpp-options.ui-state-default{
  border: none;
}
.p-paginator .p-paginator-page, .p-paginator .p-paginator-next, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-first, .p-paginator .p-paginator-last{
  margin-right: -2px;
  border-radius: 0px;
  width: 23px;
  height: 23px;
  border: 1px solid #d9d9d9;
  border-right: none;
}
.p-paginator .p-paginator-last{
  border-right: 1px solid #d9d9d9;
}
.p-paginator .p-paginator-page.p-highlight{
  background: $kGrayscale6;
  color: $kGrayscale2;
  font-weight: 400;
}
.p-paginator .p-paginator-icon{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1em;
  height: 1em;
  margin-top: -9px;
  margin-left: -8px;
}
.p-paginator .p-disabled .p-paginator-icon{
  opacity: 0.35;
}
/* tree */
.p-tree .p-tree-container{
  padding-left: 0px;
  padding-top: 0px;
  overflow: hidden;
}
.p-tree.p-tree-selectable{
  border: none;
}
.p-tree-wrapper {
  overflow: visible !important;
}
.p-treenode-label.ui-corner-all.ui-state-hover{
  background-color: #ffffff;
}
.p-tree .p-tree-toggler{
  color: $kGrayscale3;
  margin-right: 8px;
  margin-top: 0px !important;
  outline: none !important;
}
.p-tree .p-treenode-leaf-icon{
  width: 27px;
}
.p-tree .p-checkbox .p-checkbox-icon{
  background-color: $kPrimary;
  border: 0px solid $kPrimary;
  margin-top: 0px;
  line-height: 14px;
  border-radius: 3px;
  color: #ffffff;
}
.p-tree .p-treenode-label:hover, .p-tree .p-treenode-label.p-highlight{
  background-color: #ffffff;
}
.p-tree .p-treenode-label{
  padding: 0 .25em;
  display: inline-block;
  vertical-align: middle;
}
.p-treenode-children{
  padding: 0 0 0 1em !important;
}
.p-treenode-content {
  width: 100%;
  color: #a9a9a9;
  cursor: default;
  &.p-treenode-selectable {
    color: $kGrayscale1;
    cursor: pointer;
  }

  .p-checkbox {
    .p-checkbox-box {
      border: none;
      &:hover {
        border: none;
      }
    }

    .p-checkbox-icon {
      background-color: white;
      height: 100%;
      width: 100%;
      &.pi-check {
        background-color: $kPrimary;
        border: 1px solid $kPrimary;
      }

      &.pi-minus {
        padding-left: 1px;
        background-color: $kPrimary;
        border: 1px solid $kPrimary;
      }
    }

  }

  &:not(.p-treenode-selectable) {
    .p-checkbox-icon {
      opacity: 0.35;
      background-color: $kPrimary;
      border: 1px solid $kPrimary;
      cursor: default;

      &::before {
        content: $iconCheckSmallContent;
      }
    }
  }
}

/* Calendar */
.p-calendar.p-calendar-w-btn{
  border: 1px solid $kGrayscale4;
  border-radius: 3px;
}
.p-calendar{
  button.p-button.p-datepicker-trigger {
    height: 34px;
    width: 42px;
    border: 0px solid white;
    color: $kGrayscale4;
    &:active{
      box-shadow: none !important;
      border: none !important;
    }
    &:enabled:hover {
      color: $kGrayscale1;
      border: none !important;
      box-shadow: none !important;
    }
    &:disabled {
      opacity: 0.35;
    }
  }
  .p-button-icon.kIconcalendar{
    font-size: 24px;
  }
  .p-datepicker{
    padding: 0;
    width: 17em;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    color: #333;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
  }
  .p-datepicker-calendar{
    margin: 0;
  }
  .p-datepicker-group-container{
    border: 1px solid #d9d9d9;
    background-color: #fff;
    color: #333;
    border-width: 0;
  }
  .p-datepicker-header{
    background: $kPrimary;
    padding: .5em 0;
  }
  .p-inputtext {
    width: 100px;
    float: right;
    margin-left: 40px;
    background-color: white;
    border: 0px solid white;
    outline: hidden;
    &:focus{
      border: 0px solid $kGrayscale4;
    }
  }

  button{
    @extend .kButtonDefault;
  }
  .p-datepicker-prev, .p-datepicker-next{
    width: 24px;
    height: 24px;
    color: #ffffff !important;
    outline: none !important;
    background: $kPrimary !important;
    background-color: $kPrimary !important;
    border: 0px solid $kPrimary !important;
    &:hover{
      background: $kPrimary !important;
      background-color: $kPrimary !important;
      border: 0px solid $kPrimary !important;
    }
    &:active{
      background: $kPrimary !important;
      background-color: $kPrimary !important;
      border: 0px solid $kPrimary !important;
    }
  }
  .p-datepicker-prev-hover, .p-datepicker-next-hover, thead{
    background: $kPrimary;
    border: 0px solid $kPrimary;
  }
  -header{
    border: 0px solid $kPrimary;
    border-radius: 0px;
  }
  .ui-state-default{
    color: $kGrayscale1;
    &.ui-state-active{
      color: white;
      padding-top: 7px;
      background: transparent;
    }
  }
  .p-datepicker-current-day{
    background-color: $kPrimary;
  }
  .p-timepicker{
    color: $kGrayscale1;
    background-color: #fff;
    font-weight: 700;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
    button {
      border: none;
      font-size: 10px;
    }
    .p-separator {
      width: 16px;
    }
  }
  .p-datepicker th{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.7;
  }
  .p-datepicker td{
    padding: 0px;
    width: 36px;
    height: 30px;
    border: 1px solid #d9d9d9;
    span{
      border: 0px solid white;
      text-align: center;
    }
  }

}
// tooltips
.p-tooltip .p-tooltip-text {
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
}
.p-tooltip .p-tooltip-arrow{
  font-size: 16px;
}
.p-tooltip-top .p-tooltip-arrow {
  border-top-color: #000000;
}
.p-tooltip-bottom .p-tooltip-arrow {
  border-bottom-color: #000000;
}
.p-tooltip-right .p-tooltip-arrow {
  border-right-color: #000000;
}
.p-tooltip-left .p-tooltip-arrow {
  border-left-color: #000000;
}

// auto complete
.p-autocomplete {
  position: relative;
  .p-autocomplete-panel {
    position: absolute;
    min-width: 100%;
    top: 18px !important;
  }
  .p-autocomplete-items {
    padding: 0px;
    margin: 0px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    color: #333;
    order-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    .p-autocomplete-item {
      border: 0;
      cursor: pointer;
      font-weight: 400;
      margin: 1px 0;
      padding: .186em .313em;
      text-align: left;
      min-height: 50px;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid #dadada;
      display: flex;
      align-items: center;
      overflow: hidden;
      &:last-child {
        border-bottom: none;
      }
      &.p-highlight, &:hover {
        background-color: $kGrayscale7;
      }
      &.kIsItemDisabled {
        color: #999999;
        cursor: default;
      }
    }
  }
}
.p-autocomplete-input-token {
  margin: 0;
  list-style-type: none;
  display: inline-block;
  input {
    height: 34px;
    width: 328px;
    border: 0px solid $kGrayscale6;
    color: $kGrayscale1;
    outline: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    &:disabled{
      background-color: white;
    }
  }
}
ul.p-autocomplete-multiple-container.p-inputtext{
  min-height: 34px;
  height: auto;
  overflow: hidden;
  display: inline-block;
  &.p-disabled {
    opacity: 0.35;
  }
}
ul.p-autocomplete-multiple-container{
  padding: 0;
  padding-left: 4px;
  box-sizing: border-box;
  display: inline-block;
  li.p-autocomplete-token{
    cursor: default;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    position: relative;
    margin-right: 6px;
    margin-bottom: 4px;
    height: 24px;
    border: 0 solid #00a784;
    background-color: #00a784;
    border-radius: 3px;
    color: #fff;
    padding-top: 3px;
    &:hover {
      background-color: #00745c;
    }
    .p-autocomplete-token-icon {
      margin-left: 8px;
      cursor: pointer;
      flex: 0 0 auto;
      margin-top: -10px;
      right: 0;
      padding: 4px;
      cursor: pointer;
      font-size: 12px;
      &:hover {
        background-color: hsla(0,0%,100%,.3);
        border: 0 solid hsla(0,0%,100%,.3);
        border-radius: 3px;
      }
    }
  }
}
.p-autocomplete-notification-item {
  min-height: 50px;
  padding-left: 8px;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  &.p-highlight, &:hover {
    background-color: transparent;
    cursor: default;
  }
}

// drop down
.p-dropdown{
  border: 1px solid $kGrayscale4;
  border-radius: 3px;
  width: 180px;
}
.p-dropdown-trigger{
  cursor: pointer;
  width: 1.5em;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 .25em;
}
.p-dropdown:active{
  box-shadow: 0 0 0 3px rgba(0,167,132,0.4);
}
.p-dropdown:not(.p-disabled):hover{
  border-color: $kPrimary;
  background-color: white !important;
}
.p-dropdown-item{
  min-height: 32px;
  padding: 6px;
  &.p-highlight {
    font-weight: bold;
    color: #000000;
    i {
      display: block !important;
    }
  }
}
.p-dropdown-panel {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  color: #333;
  min-width: 70px;
  font-size: 15px;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
}
.p-dropdown-panel .p-dropdown-items-wrapper{
  overflow-x: hidden;
  width: 100%;
}
.p-dropdown-panel .p-dropdown-item:not(.p-highlight):hover{
  background-color: $kGrayscale6 !important;
}
.p-dropdown-label.p-inputtext{
  background-color: #ffffff;
  border: 0px;
  padding: 0px;
  padding-left: 4px;
  display: flex;
  align-items: center;
}
.p-dropdown-label{
  height: 32px;
  line-height: 32px;
  padding-left: 8px;
  color: $kGrayscale1;
}
.p-dropdown-trigger{
  border: 0px !important;
  .pi.pi-caret-down {
    margin-top: -10px;
    position: absolute;
    color: $kGrayscale2;
  }
}
// multi select
.p-multiselect {
  color: $kGrayscale2;
  height: 34px;
  width: 237px;
  border-radius: 3px;
  border: 1px solid $kGrayscale4;
  position: relative;
  -header {
    border: 0;
  }
  &.p-disabled {
    opacity: 0.35;
  }
  .p-multiselect-label-container{
    height: 32px;
    &:active {
      box-shadow: none !important;
    }
  }
  .p-multiselect-label {
    height: 34px;
    font-size: 15px;
    font-weight: 400;
    padding: .5em 2em .25em .25em;
  }

  .p-multiselect-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 1.5em;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 0;
    color: $kGrayscale2;
    padding: .5em;
    padding-right: 18px;
  }

  .p-multiselect-item {
    height: 40px;
  }
}
.p-multiselect-panel {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  color: #333;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
  padding: 4px;
  position: absolute;
  .p-multiselect-header {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4px;
  }
  .p-multiselect-items-wrapper {
    overflow: auto;
    position: relative;
    padding: .2em 0;
    margin-bottom: 0;
    .p-multiselect-items {
      padding: 0;
      .p-multiselect-item {
        height: 40px;
        border: 0;
        cursor: pointer;
        font-weight: 400;
        margin: 1px 0;
        padding: .125em .25em;
        text-align: left;
        white-space: nowrap;
        display: block !important;
        position: relative;
      }
    }
  }
}
.p-multiselect:not(.p-disabled) .p-multiselect-label-container:active{
  border-radius: 3px;
  box-shadow: 0 0 0 3px rgba(0,167,132,0.4);
}
.p-multiselect:not(.p-disabled):hover{
  border-color: $kPrimary;
}
.p-multiselect-filter-container {
  width: 100% !important;

  .p-inputtext {
    padding: .125em;
    width: 100%;
  }

  .pi-search {
    display: none;
  }
}

// dialogues
.p-dialog.p-confirm-dialog {
  .p-dialog-titlebar {
    height: 80px;
    border-bottom: 1px solid $kGrayscale4;
    text-align: center;
    padding-top: 28px;
  }
  .p-dialog-title{
    color: $kGrayscale1;
    font-size: 24px;
    font-weight: 700;
  }
  .p-dialog-content-content{
    text-align: center;
    padding-top: 28px;
    padding-bottom: 28px;
    max-height: 450px;
    .p-confirm-dialog-message{
      word-break: break-word;
    }
  }
  .p-dialog-buttonpane{
    text-align: center;
    button{
      color: $kGrayscale1;
      font-weight: 400;
      float: none;
      .ui-button-text{
        padding-right: 2.1em;
      }
      &:hover {
        border: 1px solid $kPrimary;
      }
      &:active {
        box-shadow: 0 0 0 3px rgba(0,167,132,0.4);
      }
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
    }
  }
}

// messages
.ui-toast{

  .ui-toast-summary{
    display: none;
  }
  .ui-toast-icon-close.pi.pi-close{
    top: 9px;
    right: 9px;
    font-size: 14px;
  }
  .ui-toast-icon-close.pi.pi-close:before{
    content: $iconCloseSmallContent;
  }

  .ui-toast-icon {
    margin-left: 2px;
    margin-right: 14px;
    margin-top: 6px;
    font-size: 20px;

    &.pi-check:before{
      content: $iconCheckLargeContent;
    }

    &.pi-minus:before{
      content: $iconOpenContent;
    }
  }
  .ui-toast-message-text-content{
    line-height: 24px;
    padding: 0px;
    margin-left: 28px;
  }
  .ui-toast-message-success{
    background-color: $kSuccess;
    color: white;
  }
  .ui-toast-message-error{
    background-color: $kDandger;
    color: white;
  }
}

// spinner
.ui-spinner{
  height: 34px;
  .ui-spinner-button{
    height: 16px;
  }
  .ui-spinner-up{
    top: 1px;
  }
  .ui-spinner-down{
    top: 17px;
  }
  .p-inputtext{
    width: 80px;
  }
  button {
    position: absolute;
  }
}
// tooltip
.ng-tooltip {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: black;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  padding: 5px 8px;
  position: fixed;
  z-index: 2000;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

.ng-tooltip-show {
  opacity: 1;
}

.ng-tooltip::after {
  content: "";
  height: 0px;
  position: absolute;
  border-style: solid;
}

.ng-tooltip-top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: black transparent transparent transparent;
}

.ng-tooltip-bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}

.ng-tooltip-left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent black;
}

.ng-tooltip-right::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}
// spinner animation
.k-spinner-background {
  width: 100%;
  height: 100%;
  margin-top: -8px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}
.k-spinner-animation,
.k-spinner-animation:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.k-spinner-animation {
  margin: 0px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 4px solid rgba(131,131,131, 0.2);
  border-right: 4px solid rgba(131,131,131, 0.2);
  border-bottom: 4px solid rgba(131,131,131, 0.2);
  border-left: 4px solid #838383;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
// modal overlay
.kPopupWidgetModalOverlay, .p-dialog-mask.p-component-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 550;
  background-color: rgba(38,50,67,0.9);
  opacity: 1;
}
.kPopupWidgetModalOverlay.kTransparent{
  opacity: 0;
}
// confirmation dialogue
.p-dialog.p-confirm-dialog{
  border-radius: 4px;
  box-shadow: 0 16px 20px 0 rgba(0,0,0,0.3);
  border: 1px solid #d9d9d9;
  background-color: #fff;
  color: #333;
  width: 480px;
}
.p-dialog .p-confirm-dialog-message{
  text-align: center;
  padding: 1em 2em;
  padding-top: 28px;
  padding-bottom: 28px;
  max-height: 450px;
  width: 100%;
}
.p-dialog .p-dialog-header{
  height: 78px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  .p-dialog-title {
    width: 100%;
  }
}
.p-dialog .p-dialog-footer{
  text-align: center;
  border: none;
  border-top: 1px solid $kGrayscale4;
  padding: 1em;
  .p-button-label{
    padding: 8px;
    font-size: 16px;
  }
  button{
    color: $kGrayscale1;
    margin-right: 4px;
    margin-left: 4px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    &:hover {
      border: 1px solid $kPrimary;
    }
    &:active {
      box-shadow: 0 0 0 3px rgba(0,167,132,0.4);
    }
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
  }
}

// list box
.ui-listbox.p-inputtext{
  width: 100%;
}

// switch box
.p-inputswitch {
  height: 24px;
  width: 42px !important;
  overflow: hidden;
  vertical-align: middle;
  background-color: $kGrayscale4;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  border: none;

  // * animation
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  // animation *

  &.p-inputswitch-focus .p-inputswitch-slider {
    box-shadow: none;
  }

  .p-inputswitch-handle {
    top: 4px;
    left: 4px !important;
    background-color: #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 16px !important;
    height: 16px !important;
    border: none;

    // * animation
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    // animation *
  }

  .p-inputswitch-on, .p-inputswitch-off {
    visibility: hidden;
  }

  &.p-inputswitch-checked {
    .p-inputswitch-slider {
      background-color: $kPrimary;
    }

    .p-inputswitch-handle {
      left: 23px !important;
    }
    .p-inputswitch-slider:before {
      transform: translateX(18px);
    }
  }
  &.p-inputswitch-checked:not(.p-disabled):hover{
    .p-inputswitch-slider {
      background-color: $kPrimary;
    }
  }

  .p-inputswitch-slider:before{
    left: 3px;
    top: 3px;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 9px;
  }

}

/* ButtonSet */

.ui-selectbutton.ui-buttonset{
  font-weight: bold;
  display: flex;

  .p-button.ui-state-default {
    background: white;
    color: $kGrayscale3;
    border-left-width: 0;
  }
  .p-button.ui-state-hover, .p-button.ui-state-focus, .p-button:focus {
    background: white;
    color: $kGrayscale1;
  }

  .p-button.ui-state-active {
    border: 1px solid $kPrimary;
    background: $kPrimary;
    color: white;
  }

  .p-button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left-width: 0;
    border: 1px solid $kGrayscale4;

    .p-button-text {
      padding: 8px 16px;
    }
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-left-width: 1px;
    }
    &:last-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &:not(.ui-state-disabled):not(.ui-state-active):hover {
      background-color: $kGrayscale6;
    }
  }
}

/* overlay panel */
.p-overlaypanel {
  .p-overlaypanel-content {
    border: 1px solid #d9d9d9;
    background-color: white;
    color: $kGrayscale1;
    padding: .5em 1em;
    box-sizing: border-box;
    outline: none!important;
  }
}

/* chips */
.p-chips {
  width: 100%;
  min-height: 32px;
  ul.p-inputtext {
    max-height: 101px;
    overflow-y: auto;
    height: auto;
  }
  .p-chips-multiple-container {
    padding-left: 4px;
    padding-right: 4px;
    flex-wrap: wrap;
  }
  .p-chips-token{
    margin-right: 6px;
    height: 24px;
    border: 0px solid $kPrimary;
    background-color: $kPrimary;
    border-radius: 3px;
    color: #ffffff;
    padding-top: 4px;
    margin-bottom: 3px;
    margin-top: 3px;
    &:hover {
      background-color: darken(#00A784, 10%);
    }
    .p-chips-token-label{
      font-weight: bold;
      padding: 8px;
      padding-top: 2px;
      font-size: 14px;
    }
    .p-chips-token-icon.pi-times-circle{
      flex: 0 0 auto;
      margin-top: -5px;
      right: 0px;
      padding: 4px;
      cursor: pointer;
      font-size: 12px;
      margin-right: 2px;
      padding-top: 4px;
      &:hover{
        background-color: rgba(255,255,255,0.3);
        border: 0px solid rgba(255,255,255,0.3);
        border-radius: 3px;
      }
    }
  }
}




