<div #container
     [ngClass]="{'ui-multiselect ui-widget ui-state-default ui-corner-all':true,'ui-state-focus':focus,'ui-state-disabled': disabled}"
     [ngStyle]="style" [class]="styleClass"
     (click)="onMouseclick($event,searchInput)">
    <div class="ui-helper-hidden-accessible">
        <input #searchInput type="text" readonly="readonly" [attr.id]="inputId" (focus)="onInputFocus($event)"
               (blur)="onInputBlur($event)" [disabled]="disabled" [attr.tabindex]="tabindex"
               (keydown)="onInputKeydown($event)">
    </div>
    <div class="ui-multiselect-label-container">
        <label class="ui-multiselect-label ui-corner-all">
            <span *ngIf="disabled">{{disabledLabel || valuesAsString}}</span>
            <span *ngIf="!disabled">{{isAllChecked() ? (allSelectedLabel || valuesAsString) : valuesAsString}}</span>
        </label>
    </div>
    <div [ngClass]="{'ui-multiselect-trigger ui-state-default ui-corner-right':true}">
        <span class="ui-clickable" [ngClass]="dropdownIcon"></span>
    </div>
    <div #panel
         [ngClass]="['ui-multiselect-panel ui-widget ui-widget-content ui-corner-all ui-shadow', panelStyleClass||'']"
         [ngStyle]="panelStyle"
         [style.display]="overlayVisible ? 'block' : 'none'" (click)="panelClick=true">
        <div class="ui-widget-header ui-corner-all ui-multiselect-header ui-helper-clearfix"
             [ngClass]="{'ui-multiselect-header-no-toggleall': !showToggleAll}">
            <div class="ui-chkbox ui-widget" *ngIf="showToggleAll">
                <div class="ui-helper-hidden-accessible">
                    <input #cb type="checkbox" readonly="readonly" [checked]="isAllChecked()">
                </div>
                <div class="ui-chkbox-box ui-widget ui-corner-all ui-state-default"
                     [ngClass]="{'ui-state-active':isAllChecked()}" (click)="toggleAll($event,cb)">
                    <span class="ui-chkbox-icon ui-clickable fa" [ngClass]="{'fa-check':isAllChecked(), 'fa-minus':isPartiallyChecked()}"></span>
                </div>
            </div>
            <div class="ui-multiselect-filter-container" *ngIf="filter">
                <input #filterInput type="text" role="textbox" (input)="onFilter($event)"
                       class="ui-inputtext ui-widget ui-state-default ui-corner-all"
                       [attr.placeholder]="filterPlaceHolder">
                <span class="fa fa-fw fa-search"></span>
            </div>
            <a class="ui-multiselect-close ui-corner-all" href="#" (click)="close($event)">
                <span class="fa fa-close"></span>
            </a>
        </div>
        <div class="ui-multiselect-items-wrapper">
            <ul class="ui-multiselect-items ui-multiselect-list ui-widget-content ui-widget ui-corner-all ui-helper-reset"
                [style.max-height]="scrollHeight||'auto'">
                <li *ngFor="let option of options; let index = i" class="ui-multiselect-item ui-corner-all"
                    (click)="isEnabled(option) && onItemClick($event,option.value)"
                    [style.display]="isItemVisible(option) ? menuItemDisplayStyle : 'none'"
                    [ngClass]="{'ui-state-highlight':isSelected(option), 'ui-state-disabled': option.disabled}">
                    <div class="ui-chkbox ui-widget">
                        <div class="ui-helper-hidden-accessible">
                            <input #itemcb type="checkbox" readonly="readonly" [checked]="isSelected(option)"
                                   [disabled]="option.disabled"
                                   (focus)="focusedItemCheckbox=itemcb" (blur)="focusedItemCheckbox=null"
                                   [attr.aria-label]="option.label">
                        </div>
                        <div class="ui-chkbox-box ui-widget ui-corner-all ui-state-default"
                             [ngClass]="{'ui-state-active':isSelected(option), 'ui-state-focus': (focusedItemCheckbox === itemcb)}">
                            <span class="ui-chkbox-icon ui-clickable"
                                  [ngClass]="{'fa fa-check':isSelected(option)}"></span>
                        </div>
                    </div>
                    <label *ngIf="!itemTemplate">{{option.label}}</label>
                    <ng-container
                            *ngTemplateOutlet="itemTemplate; context: {$implicit: option, index: i}"></ng-container>
                </li>
            </ul>
        </div>
    </div>
</div>