$mc-theme-font-path : './fonts' !default;

/* icons content */
$iconCheckSmallContent: '\e91c';
$iconCheckLargeContent: '\e912';
$iconCloseSmallContent: '\e91d';
$iconOpenContent: '\e915';
$iconErrorContent: '\e942';
$iconDropdownArrowRightContent: '\e921';
$iconDropdownArrowLeftContent: '\e929';
$iconDropdownArrowTopContent: '\e92a';
$iconDropdownArrowBottomContent: '\e91e';
$iconTreeArrowRightContent: '\e919';
$iconTreeArrowDownContent: '\e91b';
$iconPaginationStartContent: '\e920';
$iconPaginationEndContent: '\e91f';
$iconPartialSmallContent: '\e922';
$iconMagnifierContent: '\e911';
