@import '_variables.scss';

@font-face {
  font-family: 'kmcng-icon-pack';
  src:
          url('#{$mc-theme-font-path}/kmcng-icon-pack.woff2?qbt9b0') format('woff2'),
          url('#{$mc-theme-font-path}/kmcng-icon-pack.ttf?qbt9b0') format('truetype'),
          url('#{$mc-theme-font-path}/kmcng-icon-pack.woff?qbt9b0') format('woff'),
          url('#{$mc-theme-font-path}/kmcng-icon-pack.svg?qbt9b0#kmcng-icon-pack') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="kIcon"], [class*=" kIcon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kmcng-icon-pack' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.kIconUpload:before {
  content: "\e943";
}
.kIconkaltura_logo:before {
  content: "\e95f";
}
.kIconquiz:before {
  content: "\e975";
}
.kIconyoutube:before {
  content: "\e976";
}
.kIconbulk:before {
  content: "\e92e";
}
.kIconUsers:before {
  content: "\e93f";
}
.kIconlive:before {
  content: "\e958";
}
.kIconImport:before {
  content: "\e959";
}
.kIconmetadata:before {
  content: "\e96e";
}
.kIconview:before {
  content: "\e96f";
}
.kIconstatistic:before {
  content: "\e961";
}
.kIconplayback-file:before {
  content: "\e955";
}
.kIconEdit:before {
  content: "\e956";
}
.kIconShare:before {
  content: "\e94f";
}
.kIconlife_donut:before {
  content: "\1f325";
}
.kIcontag:before {
  content: "\e902";
}
.kIconduplicate:before {
  content: "\e905";
}
.kIconlink:before {
  content: "\e934";
}
.kIconunlink:before {
  content: "\e935";
}
.kIconremove:before {
  content: "\e936";
}
.kIconmore:before {
  content: "\e916";
}
.kIconPin:before {
  content: "\e985";
}
.kIconcheck-medium:before {
  content: "\e938";
}
.kIconautocomplete:before {
  content: "\e939";
}
.kIconhouse:before {
  content: "\e924";
}
.kIconconfirmation:before {
  content: "\e918";
}
.kIconwarning:before {
  content: "\e91a";
}
.kIconarrow_up:before {
  content: "\e933";
}
.kIcongear:before {
  content: "\e904";
}
.kIconreorder:before {
  content: "\e903";
}
.kIconexternal_link:before {
  content: "\e913";
}
.kIconfilter:before {
  content: "\e90f";
}
.kIconarrow_backward:before {
  content: "\e90c";
}
.kIconarrow_forward:before {
  content: "\e90d";
}
.kIconmagnifier:before {
  content: $iconMagnifierContent;
}
.kIconplus:before {
  content: "\e937";
}
.kIconcalendar:before {
  content: "\e923";
}
.kIconCopy-to-clipboard:before {
  content: "\e90b";
}
.kIconupload:before {
  content: "\e914";
}
.kIcontrash:before {
  content: "\e917";
}
.kIconReport:before {
  content: "\e906";
}
.kIconUnknown:before {
  content: "\e927";
}
.kIconLive:before {
  content: "\e928";
}
.kIconfolder_large:before {
  content: "\e907";
}
.kIconsound:before {
  content: "\e909";
}
.kIconhelp:before {
  content: "\e908";
}
.kIconimage:before {
  content: "\e90a";
}
.kIconplay:before {
  content: "\e926";
}
.kIconrefresh:before {
  content: "\e90e";
}
.kIconuser:before {
  content: "\e910";
}
.kIconvideo:before {
  content: "\e930";
}
.kIconplaylist_interactive_small:before {
  content: "\e98d";
}
.kIconfeed:before {
  content: "\e954";
}
.kIconfolder:before {
  content: "\e93e";
}
.kIconPlaylist_Manual:before {
  content: "\e932";
}
.kIconPlaylist_RuleBased:before {
  content: "\e931";
}
.kIconmegaphone:before {
  content: "\e98b";
}
.kIcontarget:before {
  content: "\e98a";
}
.kIconConfiguration:before {
  content: "\e989";
}
.kIconshopfront:before {
  content: "\e988";
}
.kIconrole:before {
  content: "\e986";
}
.kIconPin1:before {
  content: "\e901";
}
.kIconpersonal-collection:before {
  content: "\e983";
}
.kIcondrag-handle:before {
  content: "\e982";
}
.kIcontargeted_offering:before {
  content: "\e981";
}
.kIconsegment:before {
  content: "\e980";
}
.kIconglobe:before {
  content: "\e97d";
}
.kIcongeo-availability:before {
  content: "\e97e";
}
.kIcondevices:before {
  content: "\e97f";
}
.kIconassets:before {
  content: "\e97b";
}
.kIconadmin-user:before {
  content: "\e97c";
}
.kIconprogram:before {
  content: "\e977";
}
.kIconcustom:before {
  content: "\e978";
}
.kIconclose:before {
  content: "\e973";
}
.kIconclock:before {
  content: "\e974";
}
.kIconalphabet:before {
  content: "\e970";
}
.kIconrating:before {
  content: "\e971";
}
.kIconrelevance:before {
  content: "\e972";
}
.kIconrestore:before {
  content: "\e96b";
}
.kIconblock:before {
  content: "\e96c";
}
.kIconlinear-channel:before {
  content: "\e969";
}
.kIconprice-code:before {
  content: "\e96a";
}
.kIconbox-set:before {
  content: "\e962";
}
.kIcondiscount:before {
  content: "\e963";
}
.kIconsegmentation:before {
  content: "\e964";
}
.kIconppv:before {
  content: "\e965";
}
.kIconsmiley:before {
  content: "\e966";
}
.kIconsubscription:before {
  content: "\e967";
}
.kIconengagement:before {
  content: "\e968";
}
.kIcondynamic-collection:before {
  content: "\e92b";
}
.kIconadd-to-collection:before {
  content: "\e944";
}
.kIconzoom:before {
  content: "\e95a";
}
.kIconList:before {
  content: "\e957";
}
.kIcondatabase_search:before {
  content: "\e953";
}
.kIconcollection:before {
  content: "\e951";
}
.kIconvod:before {
  content: "\e952";
}
.kIconepisodes:before {
  content: "\e945";
}
.kIconmovies:before {
  content: "\e946";
}
.kIconseries:before {
  content: "\e947";
}
.kIconmetadata-templates:before {
  content: "\e948";
}
.kIconcheckbox:before {
  content: "\e949";
}
.kIcondate-and-time:before {
  content: "\e94a";
}
.kIcondropdown:before {
  content: "\e94b";
}
.kIconinput-field-numeric:before {
  content: "\e94c";
}
.kIconinput-field:before {
  content: "\e94d";
}
.kIconswitch:before {
  content: "\e94e";
}
.kIconuser_small:before {
  content: "\e925";
}
.kIconsync:before {
  content: "\e987";
}
.kIconInfo_Full:before {
  content: "\e96d";
}
.kIconlive_transcoding:before {
  content: "\e900";
}
.kIconfile-small:before {
  content: "\e93a";
}
.kIconimage-small:before {
  content: "\e93b";
}
.kIconsound-small:before {
  content: "\e93c";
}
.kIconvideo-small:before {
  content: "\e93d";
}
.kIconhelp_full:before {
  content: "\e92f";
}
.kIconcheck_large:before {
  content: $iconCheckLargeContent;
}
.kIconpen:before {
  content: $iconOpenContent;
}
.kIcontree-arrow-right:before {
  content: $iconTreeArrowRightContent;
}
.kIcontree-arrow-down:before {
  content: $iconTreeArrowDownContent;
}
.kIcontranscoding:before {
  content: "\e940";
}
.kIconinactive:before {
  content: "\e95b";
}
.kIconscheduled:before {
  content: "\e95c";
}
.kIconcomplete:before {
  content: "\e941";
}
.kIconerror:before {
  content: "\e942";
}
.kIconupload2:before {
  content: "\e950";
}
.kIconpartial_small:before {
  content: $iconPartialSmallContent;
}
.kIconpagination_end:before {
  content: $iconPaginationEndContent;
}
.kIconpagination_start:before {
  content: $iconPaginationStartContent;
}
.kIconcheck_small:before {
  content: $iconCheckSmallContent;
}
.kIconclose_small:before {
  content: $iconCloseSmallContent;
}
.kIcondropdown_arrow_bottom:before {
  content: $iconDropdownArrowBottomContent;
}
.kIcondropdown_arrow_right:before {
  content: $iconDropdownArrowRightContent;
}
.kIcondropdown_arrow_left:before {
  content: $iconDropdownArrowLeftContent;
}
.kIcondropdown_arrow_top:before {
  content: $iconDropdownArrowTopContent;
}
.kIconsettings-upgrade-1:before {
  content: "\e92c";
}
.kIconsettings-upgrade-2:before {
  content: "\e92d";
}
.kIconrefresh_small:before {
  content: "\e960";
}
.kIconprogram-small:before {
  content: "\e979";
}
.kIconcustom-small:before {
  content: "\e97a";
}
.kIconepisode-small:before {
  content: "\e95d";
}
.kIconmovies-small:before {
  content: "\e95e";
}
.kIconseries-small:before {
  content: "\e984";
}

