@import './kaltura-prime-ui';

.kOverrideFAIcons {

  .pi {
    @extend .kPrimeUIIcon;
  }

  // auto complete
  .ui-autocomplete {
    min-width: 200px;

    .ui-autocomplete-panel {
      font-size: 15px;
      font-weight: normal;
      overflow-x: hidden;
      .ui-autocomplete-list-item {
        min-height: 32px;
        display: flex;
        align-items: center;
        margin: 0 -7px;
        border-radius: 0;
        padding: 0 1em;
        color: $kGrayscale3;

        &:last-child {
          border-bottom: none;
        }
        &.ui-state-highlight, &:hover {
          background-color: $kGrayscale7;
        }
        .kHighlightedText {
          color: $kGrayscale1;
        }
      }

      .ui-autocomplete-notification-item {
        min-height: 32px;
        display: flex;
        align-items: center;

        &.ui-state-highlight, &:hover {
          background-color: transparent;
          cursor: default;
        }
      }
    }

    .kIsItemDisabled {
      color: #999999;
      cursor: default;
    }
    ul.ui-autocomplete-multiple-container {
      width: 100%;
      padding: 4px 0 4px 6px;
    }
    li.ui-autocomplete-token {
      min-width: 76px;
      margin-right: 6px;
      height: 24px;
      border: 0 solid $kPrimary;
      background-color: $kPrimary;
      border-radius: 3px;
      color: #ffffff;
      padding-top: 4px;
      margin-bottom: 3px;
      margin-top: 3px;
      &:hover {
        background-color: darken(#00A784, 10%);
      }
      &.invalid {
        background-color: $kDandger;
        &:hover {
          background-color: darken($kDandger, 10%);
        }
      }
    }
    .ui-autocomplete-input-token .ui-inputtext {
      border: 0px none;
      box-shadow: none;
    }
    .ui-autocomplete-token-icon.pi-times {
      margin-right: 2px;
      padding-top: 4px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        border: 0px solid rgba(255, 255, 255, 0.3);
        border-radius: 3px;
      }
    }
    .ui-autocomplete-token-icon.pi-times:before {

      content: $k-icon-close_small;
    }
  }
}
