.kDetailInfo {
    display: flex;
    line-height: 26px;
    height: 26px;
    .kDetails{
        display: flex;
        overflow: hidden;
        >div, >span, >a{
            flex: 0 0 auto;
            line-height: 26px;
        }
    }

    .kSeparator {
        padding-right: 8px;
        padding-left: 8px;
        flex: 0 0 auto;
    }
    .kIcon{
        font-size: 16px;
    }
    .kLabel{
        margin-right: 4px;
    }
    .link {
        font-size: 15px;
        color: #1B4A97;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: darken(#1B4A97, 10%);
        }
        &:active {
            color: #1B4A97;
        }
        &:disabled {
            cursor: none;
            color: #cccccc;
        }
        text-overflow: ellipsis;
    }
}