:host {
    display: table-cell;
}

.kDetailInfo {
    display: table-cell;
    height: 24px;
}

.kDetail {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.kSeparator{
    padding-right: 4px;
    padding-left: 4px;    
}