<div class="kTags" *ngIf="data?.length">
    <span *ngIf="title" class="kTagsTitle">{{title}}</span>
    <div #scroller class="kScroller" (scroll)="_updateArrows()">
        <div class="kTagsWrapper">
            <kTag *ngFor="let tag of data" [data]="tag" (onRemoved)="removeTag($event)" [template]="templates ? templates.first : undefined" [showRemove]="removableTags" [label]="labelField ? tag[labelField] : tag" [tooltip]="tooltipField ? tag[tooltipField] : tag"></kTag>
        </div>
    </div>
    <div class="kTagsMore">
        <div class="kScrollArrows" [style.visibility]="_showMore ? 'visible' : 'hidden'">
            <i class="kIcondropdown_arrow_left kScrollArrow" [class.disable]="!_scrollLeftEnabled" (click)="scroll('left')"></i>
            <i class="kIcondropdown_arrow_right kScrollArrow" [class.disable]="!_scrollRightEnabled" (click)="scroll('right')"></i>
        </div>
        <span *ngIf="showClear" class="kTagsClear" (click)="clearAll()">{{clearAllLabel}}</span>
    </div>

</div>
