:host{
    width: 100%;
}
.kTags{
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    align-items: center;
    border-top: 1px solid #dadada;
    -ms-scroll-limit: 0 0 0 0;
    overflow: hidden;
    -ms-overflow-style: none;
}
.kTagsTitle{
    flex: 0 0 auto;
    font-size: 15px;
    color: #333333;
    font-weight: 700;
    margin-left: 16px;
    margin-right: 16px;
}
.kTagsClear{
    margin-left: 8px;
    margin-right: 16px;
    flex-shrink: 0;
    color: #333333;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
    &:hover{
        color: #00A784;
    }
}
.kMoreTagsBtn{
    flex-shrink: 0;
}
.kScroller{
    width: 100%;
    overflow: hidden;
}
.kTagsMore{
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    margin-left: 8px;
}
.kTagsWrapper{
    display: table-row;
    white-space: nowrap;
    border-collapse:separate;
    border-spacing:4px;
}
.kScrollArrows{
    display: flex;
}
.kScrollArrow{
    width: 16px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    color: #666666;
    &:hover{
        color: #333333;
    }
    &.disable{
        cursor: auto;
        color: #ebebeb;
        pointer-events: none;
        &:hover{
            color: #ebebeb;
        }
    }
}

