<span class="k-clearable-input-wrapper">
    <input pInputText
           class="k-clearable-input-input"
           [disabled]="disabled || _disabled"
           [placeholder]="placeholder"
           (change)="onChange.emit($event)"
           (focus)="onFocus.emit($event)"
           (blur)="onBlur.emit($event)"
           (keyup.enter)="onEnterKeyup.emit(_value)"
           [(ngModel)]="_value">
    <i *ngIf="_value" class="k-clearable-input-clear-btn" title="Clear" (click)="_clearInput()">&times;</i>
</span>