<div *ngIf="control" [formGroup]="form">

    <ng-container  *ngIf="control.controlType === 'Group' && control.allowMultiple">
            <div class="kMultiple" [formArrayName]="control.key">
                <span class="kGroupTitle" *ngIf="control.label">
                    <span [kTooltip]="control.description" [maxWidth]="300">{{control.label}}</span>
                </span>
                <div class="kGroupContainer"  *ngFor="let groupForm of form.controls[control.key].controls; let i=index">

                    <div [formGroupName]="i">
                        <k-dynamic-form-item *ngFor="let childControl of control.children"
                                          [control]="childControl"
                                          [form]="groupForm">
                            <ng-template let-item="item">
                                <ng-container *ngTemplateOutlet="_templates.first;context:{ item : item }">
                                </ng-container>
                            </ng-template>
                        </k-dynamic-form-item>
                    </div>

                    <div class="kDeleteGroup">
                        <a (click)="removeItem(control,i)" class="kButton">Delete</a>
                    </div>
                </div>

                <div class="kGroupButtons">
                    <button (click)="addItem(control)" class="kButton">Add</button>
                </div>
            </div>
    </ng-container>

    <div class="kMultiple" *ngIf="control.controlType === 'Group' && !control.allowMultiple">
        <span class="kGroupTitle" *ngIf="control.label">
            <span [kTooltip]="control.description" [maxWidth]="300">{{control.label}}</span>
        </span>
        <k-dynamic-form-item *ngFor="let childControl of control.children" [control]="childControl" [form]="form" [labelTemplate]="labelTemplate">
            <ng-template let-item="item">
                <ng-container *ngTemplateOutlet="_templates.first;context:{ item : item }"></ng-container>
            </ng-template>
        </k-dynamic-form-item>
    </div>

    <div class="kRow" *ngIf="control.controlType !== 'Group'">
        <div class="kFormLabelContainer">
            <span class="kLabel" *ngIf="control.label && !!labelTemplate == false">{{control.label}}
                <kInputHelper *ngIf="control.inputHelperConfig && control.inputHelperConfig.body" [title]="control.inputHelperConfig.title">
                    <span [innerHTML]="control.inputHelperConfig.body"></span>
                </kInputHelper>
            </span>
            <ng-container *ngIf="!!labelTemplate">
                <ng-container *ngTemplateOutlet="labelTemplate;context:{item: { control : control, form : itemFormGroup, isRequired : isRequired }}"></ng-container>
            </ng-container>
            <span *ngIf="isRequired" class="kFormRequiredIndicator">*</span>
        </div>
        <div class="kMultiple" *ngIf="control.allowMultiple" [formArrayName]="control.key">

            <div class="kSingleItem" *ngFor="let itemFormGroup of form.controls[control.key].controls; let i=index" [formGroupName]="i">
                    <ng-container *ngTemplateOutlet="_templates.first;context:{item: { control : control, form : itemFormGroup }}"></ng-container>
                <a (click)="removeItem(control,i)" class="kDelete">Delete</a>
            </div>
            <div>
                <a (click)="addItem(control)">Add</a>
            </div>
        </div>

        <div class="kControl" [ngClass]="[control.controlType, control.key + 'Control']" *ngIf="!control.allowMultiple">
            <ng-container *ngTemplateOutlet="_templates.first;context:{item: { control : control, form : form }}"></ng-container>
        </div>
        <!--<div class="errorMessage" *ngIf="form.controls[control.key].valid">{{control.label}} is required</div>-->
    </div>
</div>

