:host{
    position: absolute;
    left: 0px;
    top: 0px;
    transition: bottom 0.3s ease-in-out;
}
.kPopupWidget{
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.3);
    &.slider{
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    &.transparent {
        box-shadow: none;
        background: 0;
    }
    .kCloseBtn:not(.closeBtnInside) {
        position: absolute;
        right: -118px;
        top: -62px;
        width: 38px;
        height: 38px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        text-align: center;
        padding-top: 11px;
        padding-left: 2px;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        &:hover {
            color: #00a784;
        }
    }
    .kCloseBtn.closeBtnInside {
        font-size: 14px;
        float: right;
        color: #999999;
        margin-top: 14px;
        margin-right: 14px;
        cursor: pointer;
        &:hover {
            color: #00a784;
        }
    }
    .tooltipUp{
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAYAAAA1+Nx+AAAAAXNSR0IArs4c6QAAAMpJREFUOBGtk0EOwiAQRcF0Z2JXspFTcAE9erkACXfADa50b3DGMAYjlGktSUNDhvfmlyLEguG9V86544ItQnKLEZxSslCfpJQXY8yNs3fHKcrwSSl1gGcE0cRN0k1AnSNca33ChkII1xjjA5Kce0lmE5SdExwF+I5CTpJmggI+lnAU0MhJ7nNnUhVw4FzJj2AJnCP5EmS4LQ+UIL25dfAfwT9wktckb8EW8JZEbgmvSQa8/mu+OcFqM/3WcBntAPA9LdSK165l5vMFmCyyP+zXS30AAAAASUVORK5CYII=');
        position: absolute;
        margin-top: -12px;
        width: 24px;
        height: 12px;
    }
}

