k-area-blocker {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex: 1 1 auto;
	> .kAreaBlockerContainer {
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.7);
		position: absolute;
		top: 0;
		left: 0;

		/* loading spinner animation start */
		$spinner-circle-radius: 4px;
		$spinner-colors: rgb(218, 31, 38), rgb(6, 168, 133), rgb(0, 147, 68), rgb(248, 166, 26), rgb(27, 74, 151), rgb(0, 171, 204), rgb(177, 210, 56), rgb(252, 210, 3);

		@keyframes kaltura-spinner {
			0% {
				transform: rotate(0deg) scale(0.7);
				opacity: 1;
			}
			70% {
				transform: rotate(360deg) scale(0.7);
				opacity: 1;
			}
			82% {
				transform: rotate(360deg) scale(0);
				opacity: 0;
			}
			87% {
				transform: rotate(360deg) scale(0.9);
				opacity: 1;
			}
			100% {
				transform: rotate(360deg) scale(0.7);
				opacity: 1;
			}
		}

		.loading-backdrop {
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 100%;
			background-color: rgba(255,255,255,0.3);
			.spinner-container {
				display: block;
				position: absolute;
				transform: translate3d(-50px, -50px, 0);
				&.centerOnScreen{
					top: 50%;
				}
			}
		}

		.spinner {
			width: 100px;
			height: 100px;
			position: relative;
			animation: kaltura-spinner 2.5s infinite;

			span {
				width: $spinner-circle-radius * 2; height: $spinner-circle-radius * 2;
				background-color: #fff;
				display: block;
				border-radius: $spinner-circle-radius * 2;
				position: absolute; top: 50%; left: 50%;
				margin-top: -$spinner-circle-radius; margin-left: -$spinner-circle-radius;

				@for $n from 1 through 8 {
					&:nth-child(#{$n}) {
						transform: rotate($n * 45deg) translateX(-25px) translateY(-25px);
						background-color: nth($spinner-colors, $n);
					}
				}
			}
		}
		/* loading spinner animation end */

		.kErrorMessageContainer {
			/*top: calc(50% - 100px);
			left: calc(50% - 210px);*/
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: fixed;
			top: calc(50vh - 90px);
		}
		.kErrorMessage {
			width: 420px;
			background-color: #ffffff;
			border: 1px solid #cacaca;
			border-radius: 8px;
			box-shadow: 3px 3px #9c9c9c;
			text-align: center;
		}
		.kErrorMessageTitle {
			margin-top: 40px;
			color: #666666;
			font-size: 26px;
		}
		.kErrorMessageText {
			margin-top: 20px;
			margin-left: 12px;
			margin-right: 12px;
			color: #666666;
			font-size: 18px;
			white-space: pre-wrap;
		}
		.kErrorButtons {
			margin-top: 20px;
			margin-bottom: 20px;
			button {
				cursor: pointer;
				border-radius: 3px;
				outline: none;
				color: #333333;
				background: #ffffff;
				border: 1px solid #cccccc;
				margin-left: 12px;
				&:hover {
					color: #00a784;
				}
				&:active {
					box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.50);
				}
			}
		}
	}
}
