<ng-content></ng-content>
<div #areaBlockerContainer *ngIf="showLoader || _message" class="kAreaBlockerContainer" [ngClass]="classes">
  <div *ngIf="showLoader && !_message" class="loading-backdrop show">
    <div #spinnerContainer class='spinner-container' [class.bodyScroll]="bodyScroll" [style.marginTop]="spinnerMarginTop+'px'">
      <div class='spinner'><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
  </div>
  <div  class="kErrorMessageContainer" *ngIf="_message" [class.bodyScroll]="bodyScroll">
    <div class="kErrorMessage">
      <div class="kErrorMessageTitle">{{ _message.title }}</div>
      <div class="kErrorMessageText">{{ _message.message }}</div>
      <div class="kErrorButtons">
        <button *ngFor="let button of _message.buttons" (click)="handleAction(button)" [ngClass]="button.classes">{{button.label}}</button>
      </div>
    </div>
  </div>
</div>
