<ng-content></ng-content>
<div *ngIf="showLoader || _message" class="kAreaBlockerContainer">
  <div *ngIf="showLoader && !_message" class="loading-backdrop show">
    <div class='spinner-container' [class.centerOnScreen]="centerOnScreen" [style.marginTop]="spinnerMarginTop+'px'">
      <div class='spinner'><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
  </div>
  <div  class="kErrorMessageContainer" *ngIf="_message" [class.centerOnScreen]="centerOnScreen" [style.marginTop]="spinnerMarginTop+'px'">
    <div class="kErrorMessage">
      <div class="kErrorMessageTitle">Uh oh!</div>
      <div class="kErrorMessageText">{{ _message.message }}</div>
      <div class="kErrorButtons">
        <button *ngFor="let button of _message.buttons" (click)="handleAction(button)">{{button.label}}</button>
      </div>
    </div>
  </div>
</div>



