<ng-content></ng-content>
<div *ngIf="showLoader || _message" class="kAreaBlockerContainer">
  <div *ngIf="showLoader && !_message" class="k-loader-animation"></div>
  <div  class="kErrorMessageContainer" *ngIf="_message">
    <div class="kErrorMessage">
      <div class="kErrorMessageTitle">Uh oh!</div>
      <div class="kErrorMessageText">{{ _message.message }}</div>
      <div class="kErrorButtons">
        <button *ngFor="let button of _message.buttons" (click)="handleAction(button)">{{button.label}}</button>
      </div>
    </div>
  </div>
</div>



