@import '../fonts/style';

.kOverrideFAIcons {
    .pi, .fa {
        font-family: 'kmcng-icon-pack' !important;
    }
    .p-submenu-icon.pi-angle-right:before{
      content: $iconDropdownArrowRightContent;
    }
    .p-tree-toggler-icon.pi-chevron-right:before{
      content: $iconTreeArrowRightContent;
    }
  .p-tree-toggler-icon.pi-chevron-down:before{
      content: $iconTreeArrowDownContent;
    }
    .p-sortable-column-icon.fa-sort-asc:before{
      content: $iconDropdownArrowTopContent;
    }
    .p-sortable-column-icon.fa-sort-desc:before{
      content: $iconDropdownArrowBottomContent;
    }
    .p-paginator-next.p-paginator-element .p-paginator-icon.pi.pi-angle-right:before{
        content: $iconDropdownArrowRightContent;
        font-size: 12px;
    }
    .p-paginator-prev.p-paginator-element .p-paginator-icon.pi.pi-angle-left:before{
      content: $iconDropdownArrowLeftContent;
        font-size: 12px;
    }
    .p-paginator-last.p-paginator-element .pi.pi-angle-double-right:before{
        content: $iconPaginationEndContent;
        font-size: 12px;
    }
    .p-paginator-first.p-paginator-element .pi.pi-angle-double-left:before{
        content: $iconPaginationStartContent;
        font-size: 12px;
    }
    .p-checkbox-icon.pi.pi-check:before{
        font-size: 10px;
        content: $iconCheckSmallContent;
    }
    .p-checkbox-icon.pi.pi-minus:before{
        content: $iconPartialSmallContent;
        font-size: 9px;
    }
    .p-datepicker-prev-icon.pi-chevron-left:before{
        content: $iconDropdownArrowLeftContent;
        font-size: 9px;
    }
    .p-datepicker-next-icon.pi-chevron-right:before{
        content: $iconDropdownArrowRightContent;
        font-size: 9px;
    }
  .p-dropdown-open .p-dropdown-trigger-icon {
    transform: rotate(180deg) translateY(-50%);
    margin-top: -11px;
  }
	.p-dropdown-trigger .pi.pi-caret-down:before{
    content: $iconDropdownArrowBottomContent;
		font-size: 10px;
	}
	.p-spinner.p-widget .pi.pi-caret-down:before{
    content: $iconDropdownArrowBottomContent;
		font-size: 10px;
	}
	.p-spinner.p-widget .pi.pi-caret-up:before{
    content: $iconDropdownArrowTopContent;
		font-size: 10px;
	}
	.p-timepicker .pi.pi-chevron-up:before{
    content: $iconDropdownArrowTopContent;
	}
	.p-timepicker .pi.pi-chevron-down:before{
    content: $iconDropdownArrowBottomContent;
	}
  .p-dropdown-trigger .pi.pi-chevron-up{
    &:before {
      content: $iconDropdownArrowTopContent;
    }
    color: #666;
    font-size: .8em;
  }
  .p-dropdown-trigger .pi.pi-chevron-down {
    &:before {
      content: $iconDropdownArrowBottomContent;
    }
    color: #666;
    font-size: .8em;
  }
  .p-multiselect-trigger .pi.pi-chevron-up {
    &:before {
      content: $iconDropdownArrowTopContent;
    }
    color: #666;
    font-size: .8em;
  }
  .p-multiselect-trigger .pi.pi-chevron-down {
    &:before {
      content: $iconDropdownArrowBottomContent;
    }
    color: #666;
    font-size: .8em;
  }
  .pi-sort-amount-down:before{
    content: $iconDropdownArrowBottomContent;
  }
  .pi-sort-amount-up-alt:before, .pi-sort-amount-up:before{
    content: $iconDropdownArrowTopContent;
  }
	.p-multiselect-trigger .pi.pi-caret-down:before{
    content: $iconDropdownArrowBottomContent;
		font-size: 12px;
	}
	.p-multiselect-filter-container  .pi.pi-search:before{
    content: $iconMagnifierContent;
	}

  .p-datatable-tbody .pi.pi-chevron-right:before{
    content: $iconTreeArrowRightContent;
  }

  .p-datatable-tbody .pi.pi-chevron-down:before{
    content: $iconTreeArrowDownContent;
  }
}
