@import '../fonts/style';

.kOverrideFAIcons {
    .pi, .fa {
        font-family: 'kmcng-icon-pack' !important;
    }
    .ui-submenu-icon.pi-caret-right:before{
      content: $iconDropdownArrowRightContent;
    }
    .ui-tree-toggler.pi-caret-right:before{
      content: $iconTreeArrowRightContent;
    }
    .ui-tree-toggler.pi-caret-down:before{
      content: $iconTreeArrowDownContent;
    }
    .ui-sortable-column-icon.fa-sort-asc:before{
      content: $iconDropdownArrowTopContent;
    }
    .ui-sortable-column-icon.fa-sort-desc:before{
      content: $iconDropdownArrowBottomContent;
    }
    .ui-paginator-next.ui-paginator-element .ui-paginator-icon.pi.pi-caret-right:before{
        content: $iconDropdownArrowRightContent;
        font-size: 12px;
    }
    .ui-paginator-prev.ui-paginator-element .ui-paginator-icon.pi.pi-caret-left:before{
      content: $iconDropdownArrowLeftContent;
        font-size: 12px;
    }
    .ui-paginator-last.ui-paginator-element .pi.pi-step-forward:before{
        content: $iconPaginationEndContent;
        font-size: 12px;
    }
    .ui-paginator-first.ui-paginator-element .pi.pi-step-backward:before{
        content: $iconPaginationStartContent;
        font-size: 12px;
    }
    .ui-chkbox-icon.pi.pi-check:before, .ui-chkbox-icon.fa.fa-check:before{
        font-size: 10px;
        content: $iconCheckSmallContent;
    }
    .ui-chkbox-icon.pi.pi-minus:before{
        content: $iconPartialSmallContent;
        font-size: 9px;
    }
    .ui-datepicker-prev .pi.pi-chevron-left:before{
        content: $iconDropdownArrowLeftContent;
        font-size: 9px;
    }
    .ui-datepicker-next .pi.pi-chevron-right:before{
        content: $iconDropdownArrowRightContent;
        font-size: 9px;
    }
  .ui-dropdown-open .ui-dropdown-trigger-icon {
    transform: rotate(180deg) translateY(-50%);
    margin-top: -11px;
  }
	.ui-dropdown-trigger .pi.pi-caret-down:before{
    content: $iconDropdownArrowBottomContent;
		font-size: 10px;
	}
	.ui-spinner.ui-widget .pi.pi-caret-down:before{
    content: $iconDropdownArrowBottomContent;
		font-size: 10px;
	}
	.ui-spinner.ui-widget .pi.pi-caret-up:before{
    content: $iconDropdownArrowTopContent;
		font-size: 10px;
	}
	.ui-timepicker .pi.pi-chevron-up:before{
    content: $iconDropdownArrowTopContent;
	}
	.ui-timepicker .pi.pi-chevron-down:before{
    content: $iconDropdownArrowBottomContent;
	}
  .ui-dropdown-trigger .pi.pi-chevron-up{
    &:before {
      content: $iconDropdownArrowTopContent;
    }
    color: #666;
    font-size: .8em;
  }
  .ui-dropdown-trigger .pi.pi-chevron-down {
    &:before {
      content: $iconDropdownArrowBottomContent;
    }
    color: #666;
    font-size: .8em;
  }
  .ui-multiselect-trigger .pi.pi-chevron-up {
    &:before {
      content: $iconDropdownArrowTopContent;
    }
    color: #666;
    font-size: .8em;
  }
  .ui-multiselect-trigger .pi.pi-chevron-down {
    &:before {
      content: $iconDropdownArrowBottomContent;
    }
    color: #666;
    font-size: .8em;
  }
  .pi-sort-down:before{
    content: $iconDropdownArrowBottomContent;
  }
  .pi-sort-up:before{
    content: $iconDropdownArrowTopContent;
  }
	.ui-multiselect-trigger .pi.pi-caret-down:before{
    content: $iconDropdownArrowBottomContent;
		font-size: 12px;
	}
	.ui-multiselect-filter-container  .pi.pi-search:before{
    content: $iconMagnifierContent;
	}

  .ui-table-tbody .pi.pi-chevron-right:before{
    content: $iconTreeArrowRightContent;
  }

  .ui-table-tbody .pi.pi-chevron-down:before{
    content: $iconTreeArrowDownContent;
  }
}
