/* Application */
$appBkgColor: #f2f2f2;
$minAppWidth: 1024px;

/* App menu colors */
$menuBkgColor: #1B4A97;
$mainLinkColor: #FFFFFF;
$mainLinkHoverBkg: #252525;
$mainLinkHoverColor: #FFFFFF;
$mainLinkActiveColor: #FFFFFF;
$subLinkColor: #808080;
$subLinkActiveColor: #000000;
$uploadLinkActiveColor: #F1F6FD;
$widgetLinkColor: #59A3B5;
$headerTextColor: rgba(255,255,255,0.6);

$appMenuHeight: 50px;
$contentArea: calc(100vh - 105px);
$minTableHeight: calc(100vh - 140px);

$appContainerPadding: 50px;

/* Gridlex overrides */
$gl-gutter: 28px;

/* colors */
$kPrimary: #00a784;
$kSecondary: #01accd;
$kTertiary: #1b4a97;
$kBlack: #222222;
$kOrange: #F9A71B;
$kBlue: #112D5B;
$kAqua: #2ACDED;
$kGrayscale1: #333333;
$kGrayscale2: #666666;
$kGrayscale3: #999999;
$kGrayscale4: #cccccc;
$kGrayscale5: #dadada;
$kGrayscale6: #ebebeb;
$kGrayscale7: #f4f4f4;
$kSuccess: #009444;
$kDandger: #db1f26;

// magnifying glass for input fields
$kMagnifyingGlassBkg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABaUlEQVQ4jdWVvY6CQBRGv5UtJFIAiYEXsJHG2vAGEB7WUPAEdiY20vgCWpkYjDaC+WZ3NszODCa7sfA0E+bncGfuZfjouq7DCxi9Qko+tZ5vDocDdrudaK/XK1zXRRzHSJJEtM/QjqJtW6zXa9R1bV06n8+xXC4xGtk3rEUspY7jYLFYYDabwfM8NE2D/X6P7Xb789I0TTWhRImY216tVkKa5zmiKNIWHI9HlGWJ+/2Ooiisx6LshWdKGKlJStjP8f58E4qYERNufwg5LuebUMTMPuGZDjGZTJT5JhQxS4owUUNcLhcxOh6PrbMUsUwEsz+EHLclThOz+AlLitk3wX6O9+eb0CJm8bOUWFKbzQbn81l8NGz5LEuNx+D7vkH5xZ++PEpvtxuCIBD1LnMzKJb8visok3cFI2Xkp9PJKreKn8GXDcntt8gTKKEsDEMhr6pKWfCv+5jyLMswnU7F/dLn/f4gbyYG8AB1FcI0RpkG+QAAAABJRU5ErkJggg==') no-repeat 5px 6px;
