@import '~normalize.css/normalize.css';
@import "variables";

@import 'primeng/index';

@import '~@kaltura-ng/kaltura-ui/styles/scss/theme';
@import '~@kaltura-ng/kaltura-primeng-ui/styles/scss/theme';

@import 'icons'; //icons font

@import 'base';
@import 'components';
