@import '../styles/scss/theme';

.kInputHelper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    position: relative;
  
    .kIconhelpLink {
      color: $kGrayscale3;
      text-decoration: none;
      position: relative;
      z-index: 2;
  
      &:hover, &.kActive {
        color: $kSecondary;
      }
    }
  }
  
  .kInputHelperPopup {
    border-radius: 3px;
    
    ::ng-deep .kPopupWidget {
      box-shadow: none;
    }
  
    .kInputHelperContainer {
      font-size: 15px;
      line-height: 20px;
      color: $kGrayscale3;
      padding: 16px;
      border-radius: 3px;
    }
  
    .kInputHelperPopupHeader {
      color: $kGrayscale1;
      display: flex;
      align-items: center;
      padding-bottom: 10px;
  
      .kIcon {
        color: $kGrayscale3;
        font-size: 24px;
        margin-right: 14px;
      }
    }
  }