:host /deep/ .ui-autocomplete-token-label{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* main content width according to screen resolution */
  @media screen and (max-width: 991px) {
    max-width: 270px;
  }

  @media screen and (min-width: 992px) {
    max-width: 270px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 500px;
  }

  @media screen and (min-width: 1600px) {
    max-width: 800px;
  }
}