<span [ngClass]="{'ui-autocomplete ui-widget kOverrideFAIcons':true,'ui-autocomplete-dd':dropdown,'ui-autocomplete-multiple':multiple}" [ngStyle]="style" [class]="styleClass">
    <input *ngIf="!multiple" #in [attr.type]="type" [attr.id]="inputId" [ngStyle]="inputStyle" [class]="inputStyleClass" autocomplete="off" [ngClass]="'ui-inputtext ui-widget ui-state-default ui-corner-all'" (click)="onInputClick($event)"
           [value]="value ? (field ? objectUtils.resolveFieldData(value,field)||value : value) : null" (input)="onInput($event)" (keydown)="onKeydown($event)" (focus)="onInputFocus($event)" (blur)="onInputBlur($event)"
           [attr.placeholder]="_placeholder" [attr.size]="size" [attr.maxlength]="maxlength" [attr.tabindex]="tabindex" [readonly]="readonly" [disabled]="disabled"
           [ngClass]="{'ui-autocomplete-input':true,'ui-autocomplete-dd-input':dropdown}"
    ><ul *ngIf="multiple" #multiContainer class="ui-autocomplete-multiple-container ui-widget ui-inputtext ui-state-default ui-corner-all" [ngClass]="{'ui-state-disabled':disabled,'ui-state-focus':focus}" (click)="multiIn.focus()">
		<li #token *ngFor="let val of value" class="ui-autocomplete-token ui-state-highlight ui-corner-all" [class.userAdded]="val.userAdded" [class.invalid]="_validateItem(val)" [kTooltip]="val.tooltip">
            <span class="ui-autocomplete-token-icon fa fa-fw fa-close" (click)="removeItem(token)" *ngIf="!disabled"></span>
            <span *ngIf="!selectedItemTemplate" class="ui-autocomplete-token-label">{{field ? val[field] : val}}</span>
            <ng-template *ngIf="selectedItemTemplate" [pTemplateWrapper]="selectedItemTemplate" [item]="val"></ng-template>
        </li>
		<li class="ui-autocomplete-input-token">
            <input #multiIn [attr.type]="type" [attr.id]="inputId" [disabled]="disabled" [attr.placeholder]="_placeholder" [attr.tabindex]="tabindex" (input)="onInput($event)"  (click)="onInputClick($event)"
				   (keydown)="onKeydown($event)" (focus)="onInputFocus($event)" (blur)="onInputBlur($event)" autocomplete="off">
        </li>
    </ul
    ><button type="button" pButton icon="fa-fw fa-caret-down" class="ui-autocomplete-dropdown" [disabled]="disabled"
             (click)="handleDropdownClick($event)" *ngIf="dropdown"></button>
    <div #panel class="ui-autocomplete-panel ui-widget-content ui-corner-all ui-shadow" [style.display]="panelVisible ? 'block' : 'none'" [style.width]="appendTo ? 'auto' : '100%'" [style.max-height]="scrollHeight">
        <ul class="ui-autocomplete-items ui-autocomplete-list ui-widget-content ui-widget ui-corner-all ui-helper-reset" *ngIf="panelVisible">
            <li *ngIf="_loading" class="ui-autocomplete-notification-item">
                Searching...
            </li>
            <li *ngIf="_showNoItems" class="ui-autocomplete-notification-item">
                No Items Found...
            </li>
            <li *ngIf="_errorMessage" class="ui-autocomplete-notification-item">
                {{ _errorMessage }}
            </li>
            <li *ngFor="let option of suggestions; let idx = index" [ngClass]="{'ui-autocomplete-list-item ui-corner-all':true,'ui-state-highlight':(highlightOption==option)}"
                [class.kIsItemDisabled] = "option | kIsSuggestionDisabled : suggestionSelectableField"
                (mouseenter)="highlightOption=option" (mouseleave)="highlightOption=null" (click)="onUserSelectItem($event,option)">
                <span *ngIf="!itemTemplate" [innerHTML]="_getSuggestionText(option) | kHighlight : searchText"></span>
                <ng-template *ngIf="itemTemplate" [pTemplateWrapper]="itemTemplate" [item]="option" [index]="idx"></ng-template>
            </li>
            <li *ngIf="noResults && emptyMessage" class="ui-autocomplete-list-item ui-corner-all">{{emptyMessage}}</li>
        </ul>
    </div>

</span>
