<span [ngClass]="{'ui-autocomplete ui-widget kOverrideFAIcons':true,'ui-autocomplete-dd':dropdown,'ui-autocomplete-multiple':multiple}"
      [ngStyle]="style" [class]="styleClass">
        <input *ngIf="!multiple" #in [attr.type]="type" [attr.id]="inputId" [ngStyle]="inputStyle"
               [class]="inputStyleClass" autocomplete="off" [attr.required]="required"
               [ngClass]="'ui-inputtext ui-widget ui-state-default ui-corner-all ui-autocomplete-input'"
               [value]="inputFieldValue ? (field ? objectUtils.resolveFieldData(inputFieldValue, field) || inputFieldValue : value) : null"
               (click)="onInputClick($event)" (input)="onInput($event)" (keydown)="onKeydown($event)"
               (keyup)="onKeyup($event)" (focus)="onInputFocus($event)" (blur)="onInputBlur($event)"
               (change)="onInputChange($event)"
               [attr.placeholder]="_placeholder" [attr.size]="size" [attr.maxlength]="maxlength"
               [attr.tabindex]="tabindex" [readonly]="readonly" [disabled]="disabled"
        ><ul *ngIf="multiple" #multiContainer
             class="ui-autocomplete-multiple-container ui-widget ui-inputtext ui-state-default ui-corner-all"
             [ngClass]="{'ui-state-disabled':disabled,'ui-state-focus':focus}" (click)="multiIn.focus()">
            <li #token *ngFor="let val of value" [class]="'ui-autocomplete-token ui-state-highlight ui-corner-all '  + (classField && val ? val[classField] : '')"
                [kTooltip]="val" [tooltipResolver]="tooltipResolver">
                <span class="ui-autocomplete-token-icon fa fa-fw fa-close" (click)="removeItem(token)"
                      *ngIf="!disabled"></span>
                <span *ngIf="!selectedItemTemplate" class="ui-autocomplete-token-label" (click)="onItemClick(val)">{{field ? objectUtils.resolveFieldData(val, field): val}}</span>
                <ng-container *ngTemplateOutlet="selectedItemTemplate; context: {$implicit: val}"></ng-container>
            </li>
            <li class="ui-autocomplete-input-token">
                <input #multiIn [attr.type]="type" [attr.id]="inputId" [disabled]="disabled"
                       [attr.placeholder]="(value&&value.length ? null : _placeholder)" [attr.tabindex]="tabindex"
                       (input)="onInput($event)" (click)="onInputClick($event)"
                       (keydown)="onKeydown($event)" (keyup)="onKeyup($event)" (focus)="onInputFocus($event)"
                       (blur)="onInputBlur($event)" autocomplete="off" [ngStyle]="inputStyle" [readonly]="readonly"
                       [class]="inputStyleClass">
            </li>
        </ul
        ><i *ngIf="loading" class="ui-autocomplete-loader fa fa-circle-o-notch fa-spin fa-fw"></i>
    <button #ddBtn
          type="button"
          pButton
          icon="fa-fw fa-caret-down"
          class="ui-autocomplete-dropdown"
          [disabled]="disabled"
          (click)="handleDropdownClick($event)"
          *ngIf="dropdown"></button>
    <div #panel class="ui-autocomplete-panel ui-widget-content ui-corner-all ui-shadow"
             [style.display]="panelVisible ? 'block' : 'none'" [style.width]="appendTo ? 'auto' : '100%'"
             [style.max-height]="scrollHeight">
            <ul class="ui-autocomplete-items ui-autocomplete-list ui-widget-content ui-widget ui-corner-all ui-helper-reset"
                *ngIf="panelVisible">
                <li *ngIf="_loading" class="ui-autocomplete-notification-item">
                Searching...
            </li>
            <li *ngIf="_showNoItems" class="ui-autocomplete-notification-item">
                No Items Found...
            </li>
            <li *ngIf="_errorMessage" class="ui-autocomplete-notification-item">
                {{ _errorMessage }}
            </li>
                <li *ngFor="let option of suggestions; let idx = index"
                    [ngClass]="{'ui-autocomplete-list-item ui-corner-all':true,'ui-state-highlight':(highlightOption==option)}"
                    [class.kIsItemDisabled]="option | kIsSuggestionDisabled : suggestionSelectableField"
                    (mouseenter)="highlightOption=option" (mouseleave)="highlightOption=null"
                    (click)="onUserSelectItem($event, option)">
                    <span *ngIf="!itemTemplate" [innerHTML]="_getSuggestionText(option) | kHighlight : searchText"></span>
                    <ng-container
                            *ngTemplateOutlet="itemTemplate; context: {$implicit: option, index: idx}"></ng-container>
                </li>
                <li *ngIf="noResults && emptyMessage"
                    class="ui-autocomplete-list-item ui-corner-all">{{emptyMessage}}</li>
            </ul>
        </div>
    </span>