html {
	width: 100%;
	height: 100%;
}

body {
	background: $appBkgColor;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: geometricPrecision;
}

label {
	font-size: 15px;
	font-weight: bold;
}

.link {
	font-size: 15px;
	color: $kTertiary;
	text-decoration: underline;
	cursor: pointer;
	&:hover {
		color: darken($kTertiary, 10%);
	}
	&:active {
		color: $kTertiary;
	}
	&:disabled {
		cursor: none;
		color: $kGrayscale4;
	}
	text-overflow: ellipsis;
}

.error {
	color: $kDandger;
}

a {
	@extend .link;
	outline: none;
}

select {
	outline: none;
}

/* main content width according to screen resolution */
@media screen and (max-width: 991px) {
	.kContent {
		width: 970px;
		margin: auto !important;
		display: flex;
	}
}

@media screen and (min-width: 992px) {
	.kContent {
		width: 970px;
		margin: auto !important;
		display: flex;
	}
}

@media screen and (min-width: 1310px) {
	.kContent {
		width: 1200px;
		margin: auto !important;
		display: flex;
	}
}

@media screen and (min-width: 1610px) {
	.kContent {
		width: 1500px;
		margin: auto !important;
		display: flex;
	}
}

/* support retina devices */

@media(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	/* Retina-specific stuff here */
}

