# Node & NPM
node_modules/**/*

# gulp scripts
.tmp/**/*
dist/**/*
coverage/**/*

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

# Typescript
src/*.d.ts
src/*.js


# misc
*.log
npm-debug.log.*